.cv-cont {
  width: 65%;
  margin-left: auto;
}

.cv {
  background: linear-gradient(120deg, #ffffff 40%, #d9d9d9);
  width: 61.2rem;
  height: 80rem;
  border-radius: 3rem;
  padding: 50px;
  margin: 3rem auto;
  position: relative;

  .big-item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      margin-bottom: 0.5rem;

      .position {
        font-family: 'TT';
      }

      span {
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        font-size: $h2-size;
      }
    }

    a {
      color: black;
      // text-decoration: underline;
    }

    .date {
      text-transform: uppercase;
      color: $lighter-gray;
      margin-bottom: 0.8rem;
      font-family: 'TT';
    }

    .description {
      color: $gray;
    }
  }

  h3.small {
    font-size: 1rem;
  }

  .startCV {
    position: absolute;
    font-size: 6rem;
    margin-top: 7rem;
    width: 85%;
    background: linear-gradient(90deg, #d5d5d5, #b4b4b4);
    background-clip: text;
    color: transparent;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .left {
      display: flex;
      flex-direction: column;
      max-width: 29rem;

      p,
      a {
        font-size: $h2-size;
        color: $lighter-gray;
        max-width: 26rem;
        font-family: 'TT';
      }
    }
    a {
      justify-self: flex-end;
      margin-top: auto;
    }

    img {
      width: 9rem;
      height: 9rem;
      border-radius: 5rem;
      background-color: black;
      margin-right: 2rem;
    }
  }

  h2 {
    color: $lighter-gray;
    margin-bottom: 1.3rem;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 50px;
  }
}

.show {
  position: fixed;
  bottom: 4rem;
  left: 3rem;
  display: none;
  z-index: 15;
}

@media (max-width: 1100px) {
  // @media (max-width: 1100px) and (not (print)) {
  .cv-cont {
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .cv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0.6);
    transform-origin: center;
  }

  .show {
    display: flex;
  }
}

@media print {
  .cv-cont {
    width: 100%;
    margin: 0;
  }

  .cv {
    position: static;
    padding-top: 2rem;
    transform: scale(1);
    width: auto;
    height: auto;
    background: white;
    transform-origin: center;
    border-radius: 0;
  }

  html {
    font-size: 85%;
  }
}
